<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
  <div class="form-group">
    <label for="title">Título:</label>
    <input
      required
      type="text"
      formControlName="title"
      placeholder="Coloque um título"
    >
    <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="title.errors?.['required']">O título é obrigatório.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Descrição:</label>
    <textarea
      required
      formControlName="description"
      placeholder="Descreva sobre o seu momento..."
    ></textarea>
    <div *ngIf="description.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="description.errors?.['required']">A descrição é obrigatória.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="image">Coloque a foto que mais marcou esse momento:</label>
    <input type="file">
  </div>
  <input type="submit" value="{{ btnText }}" />
</form>
